@font-face {
    font-family: segunda;
    src: url(fontes/Kanit/Kanit-ExtraLightItalic.ttf) format('truetype')
}
@font-face {
    font-family: terceira;
    src: url(fontes/Kanit/Kanit-ExtraBold.ttf) format('truetype')
}

.paginas {
    padding-top: 130px;
    font-family: primeira;
}


.formulario button {
    margin-left: 10px;

    height: 25px;
    border-radius: 10px;
    background-color: rgba(120, 231, 120, 0.221);

}

.formulario input {

    font-size: 12px;
    height: 20px;
    margin: 5px;
    width: 270px;
    border-radius: 5px;
    border: 5px ridge rgba(0, 0, 0, 0.19);

}

.formulario {
    font-size: 12px;
    margin: 10px 0 10px;
    border-radius: 10px;
    justify-items: center;
    border: 1px ridge rgba(0, 0, 0, 0.063);
    background-color: rgb(169, 184, 190);


}

.simulação button{
    background-color: rgba(150, 162, 165, 0.909);
    font-family: terceira;
    margin: 0 10px;
    
}
.simulação h2{
color: rgb(30, 35, 40);
    
}
.simulação{
    background-color: rgba(150, 150, 165, 0.14);
    height: 100%;
    
}

/* .mostrar-clicar{
    display: none;
} */
.instalacao{
    display: none;
    background-color: rgba(127, 255, 212, 0.212);
}

.limpeza{
    background-color: rgba(118, 156, 217, 0.242);
    display: none;
}

.visita{
    background-color: rgba(61, 74, 127, 0.247);
    display: none;
}


.card1 {
    color: rgb(15, 15, 15);
    text-align: center;
    margin-top: 150px;
    background: url(../../refrigera.jpg);
    max-height: 150px;
    overflow-y: scroll;

}

.card1 p {

    background-color: rgba(240, 248, 255, 0.432);
}

.card1 h1 {
    color: rgb(46, 161, 214);
    border-bottom: 1px solid;
    font-family: primeira;
}

.card1 h2 {
    margin-top: 0;
    font-size: 25px;
    color: rgba(219, 56, 56, 0.749);
    font-family: segunda;

}

.opcoes {
    border: 1px solid;
    margin: 10px 10px;
    border-radius: 3px;
    justify-content: center;
    justify-items: center;
    align-items: center;

}


.opcoes-geral figcaption button, strong {
    font-size: 30px;
}
.opcoes-geral figcaption button, p {
    font-family: segunda;
    font-size: 16px;
    margin-left: 10px;

}

.opcoes-geral figcaption {
    border: 0;
    background-color: rgba(136, 255, 243, 0.19);
    padding: 15px;
    margin-left: 19px;
    width: 100%;
    margin-top: 59px;
    margin-left: 0;
    padding-left: 0;
}

.opcoes-geral figure img {
    padding-top: 90px;
    width: 170px;
    height: 178px;
    padding-right: 0;
}

.opcoes-geral .manutencao{
    background: url(imagens/manutenção/manutenção-ar.jpg) no-repeat;
    border-radius: 10px;
    border: 4px groove rgba(70, 61, 61, 0.088);
    background-size: 300px;
    
}
.opcoes-geral {

    text-align: center;
    margin: 0;
    padding: 10px 0;
    display: flex;
    overflow-y: hidden;
    height: 200px;

}