@font-face {
    font-family: segunda;
    src: url(fontes/Kanit/Kanit-ExtraLightItalic.ttf) format('truetype')
}

@font-face {
    font-family: terceira;
    src: url(fontes/Kanit/Kanit-ExtraBold.ttf) format('truetype')
}

.paginas {
    padding-top: 130px;
    font-family: primeira;
}

#primeiroh1 {
    color: green;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 2px double;
    background-color: rgba(255, 255, 0, 0.159);
}

body {
    animation: animacaodapagina 1.3s ease;
}

.header {
    animation: animacaodomenu 5s ease;
}

@keyframes animacaodomenu {
    0% {
        width: 0;
        border-radius: 0 0 200px 200px;
        background-color: rgb(255, 255, 255);
    }

    50% {
        transform: rotate3d(70deg);
    }

    100% {
        background-color: rgb(246, 250, 250);
    }
}

@keyframes animacaodapagina {
    0% {
        
        /* transform: translate(10px, 50%); */
        transform: rotate(-5deg);
    }
    
    50% {
        background-color: rgba(95, 158, 160, 0.583);


    }

    100% {
        background-color: rgba(95, 158, 160, 0.294);

    }
}

.arealgeraljs {
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: rgba(4, 130, 240, 0);
    animation: animacao22 1s infinite;
    animation: listadeanimacao 5s ease-in-out;

    border-top: 3px double black;
    height: 100%;
    color: rgba(4, 130, 240, 0.275);
    border-bottom: 2px solid rgb(9, 9, 9);
    background-color: rgba(3, 242, 7, 0.296);
    color: blue;
}


.formulario button {
    margin-left: 10px;

    height: 25px;
    border-radius: 10px;
    background-color: rgba(120, 231, 120, 0.221);

}

.formulario input {

    font-size: 12px;
    height: 20px;
    margin: 5px;
    width: 270px;
    border-radius: 5px;
    border: 5px ridge rgba(0, 0, 0, 0.19);
}


@keyframes listadeanimacao {
    0% {
        color: rgba(4, 130, 240, 0);
        border-top: 1px double black;
        height: 0px;
        border-bottom: 30px groove rgba(14, 14, 14, 0.253);
        color: rgba(0, 0, 255, 0);
    }

    50% {
        border-top: 3px double rgb(6, 223, 75);
        color: rgba(4, 130, 240, 0.489);
        border-bottom: 5px solid rgba(12, 12, 12, 0.258);
        height: 70px;
        color: rgba(0, 0, 255, 0.444);
    }

    80% {
        border-top: 3px double black;
        height: 70px;
        color: rgba(4, 130, 240, 0.275);
        border-bottom: 2px solid rgb(9, 9, 9);
        background-color: rgba(3, 242, 7, 0.296);
        color: blue;
    }

    100% {
        border-top: 3px double black;
        height: 100%;
        color: rgba(4, 130, 240, 0.275);
        border-bottom: 2px solid rgb(9, 9, 9);
        background-color: rgba(3, 242, 7, 0.296);
        color: blue;
        border-left: 2px ridge black;
        border-right: 2px ridge black;
    }

}

@keyframes animacao22 {
    0% {
        color: rgba(4, 130, 240, 0);
    }

    50% {
        color: rgba(4, 130, 240, 0.489);
    }

    100% {
        color: rgba(4, 130, 240, 0.275);
    }

}


@keyframes animacao-placeholder {
    0% {
        border: 1px solid rgba(255, 0, 0, 0);
    }

    50% {
        border: 1px double hsl(0, 100%, 70%);
        font-size: 11.9px;
    }

    100% {

        border: 1px solid rgba(255, 0, 0, 0);


    }


}






.formulario {
    font-size: 12px;
    margin: 10px 0 10px;
    border-radius: 10px;
    border: 1px ridge rgba(0, 0, 0, 0.063);
    background-color: rgb(169, 184, 190);


}

.simulação button {
    background-color: rgba(150, 162, 165, 0.909);
    font-family: terceira;
    margin: 0 10px;

}

.simulação h2 {
    color: rgb(30, 35, 40);

}


.visita {
display: none;
    background-color: rgba(61, 74, 127, 0.247);
    animation: animacaoNaVisita 1.5s ease-in-out;
}



@keyframes animacaoNaVisita {
    0% {
        border: 2px double rgba(0, 0, 0, 0.166);
        border-radius: 100%;
        color: rgb(4, 132, 244);
    }
    50%{
        background-color: rgba(0, 0, 0, 0.203);
        border: 2px double rgba(0, 0, 0, 0.442);
    }
    100%{
        border: 2px double rgba(0, 0, 0, 0.095);
        background-color: rgba(128, 255, 0, 0.174);
    }
}


.card1 {
    color: rgb(15, 15, 15);
    text-align: center;
    margin-top: 96px;
    background: url(../../refrigera.jpg);
    max-height: 150px;
    overflow-y: scroll;

}

.card1 p {

    background-color: rgba(240, 248, 255, 0.432);
}

.opcoes-geral h1,
p {
    font-size: 20px;
    display: block;


}

.card1 h1 {
    color: rgb(46, 161, 214);
    border-bottom: 1px solid;
    font-family: primeira;
}

.card1 h2 {
    margin-top: 0;
    font-size: 25px;
    color: rgba(219, 56, 56, 0.749);
    font-family: segunda;

}

.opcoes {
    border: 1px solid;
    margin: 10px 10px;
    border-radius: 3px;
    justify-content: center;
    justify-items: center;
    align-items: center;

}


.opcoes-geral figcaption button,
strong {
    font-size: 30px;
}

.opcoes-geral figcaption button,
p {
    font-family: segunda;
    font-size: 16px;
    margin-left: 10px;

}

.opcoes-geral figcaption {
    border: 0;
    background-color: rgba(136, 255, 243, 0.19);
    padding: 15px;
    margin-left: 19px;
    width: 100%;
    margin-top: 59px;
    margin-left: 0;
    padding-left: 0;
}

.opcoes-geral figure img {
    padding-top: 90px;
    width: 170px;
    height: 178px;
    padding-right: 0;
}

.opcoes-geral .manutencao {
    background: url(imagens/manutenção/manutenção-ar.jpg) no-repeat;
    border-radius: 10px;
    border: 4px groove rgba(70, 61, 61, 0.088);
    background-size: 300px;

}

.opcoes-geral {

    text-align: center;
    margin: 0;
    margin-top: 100px;
    padding: 10px 0;
    display: flex;
    overflow-y: hidden;
    height: 200px;

}