@font-face {
    font-family: primeira;
    src: url(fontes/Kanit/Kanit-Medium.ttf) format('truetype')
}

strong,
h2 {
    font-family: primeira;
}

.cards {
    padding-top: 0;
    margin-top: 0;
}

figure {
    display: flex;
    font-size: 30px;
    width: 100px;
    height: 100px;
    margin: 10px 90px 0 0;
    justify-items: center;
    align-items: center;
    font-family: primeira;

}

.area-central {
    text-align: center;
    background-color: rgba(249, 251, 252, 0.406);
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    background-color: rgb(253, 251, 251);
}

figure img {
    height: 200px;
    padding: 0;

}

.header ul {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    padding: 0 0 0 288px;
}

figcaption {
    border-left: 2px solid #0077ff;
    padding-left: 9px;


}


.whatsapp-btn {
    position: fixed;
    top: 11%;
    right: 10%;
    text-align: center;
    font-family: primeira;

    animation: movimento 5s infinite;
}

@keyframes movimento {
    0% {
        transform: translatey();
    }

    50% {
        background-color: #14f3574f;
        animation: 0.1s ease-in-out;
        border: 2px double rgb(6, 238, 196);
        border-radius: 20px;
        transform: translatey(10px);
        font-size: 18px;
    }

    100% {
        transform: translatex(20px);
        transition: 0.1s ease-in-out;

    }
}



#input,
button {
    position: absolute;
    display: block;
    right: 150px;
    padding: 0 80px 0;
    top: 10%;

}

button {
    display: block;
    margin: 0 0px;
    padding: 0 10px;
}



.header-menu {
    /* background-color: #0587eb; */
    display: flex;
    width: 0;
}

.header-menu ul {
    display: flex;
    list-style: none;
}

.infor-menu {
    display: none;
}

.infor-menu-dk {
    bottom: 0;
    font-size: 11px;
    text-align: left;
    padding: 0;
    padding: 0;
    color: #ddd2d2;
    background-color: #0f0e0ee3;

}

.infor-menu-dk img {
    width: 100%;
    height: 80px;
}

h2 {
    color: rgb(3, 119, 182);
    font-size: 29px;

}

strong {
    color: #000;
}

.header li a {
    border-radius: 10px;
    display: block;
    height: 80px;
    width: 100px;
    padding: 0 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
    height: 40px;
    background-color: rgba(15, 205, 239, 0.483);

}

.header li {
    font-size: 20px;
    padding: 0 10px;


}

.inicial {
    width: 100vh;
    text-align: left;
    color: #0077ff;
}

.inicial h1,
p {
    margin: 0
}


.inicial p {
    font-size: 13px;
}

.header .menu {
    display: none;
    width: 60px;
    height: 90px;
    padding-left: 19px;
}

.menu:hover,
.menu:focus {
    transition: 0.2s ease-in-out;
    transform: matrix3d(90deg);
}


.header .hamburguer {
    background-color: #000;
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    top: 50%;
    left: px;
    transition: 0.5s ease-in-out;

}

.header .hamburguer:before,
.header .hamburguer:after {
    background-color: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;

}

.header .hamburguer:before {
    top: -10px;

}

.header .hamburguer:after {
    bottom: -10px;

}

.header input {
    display: none;

}

.header input:checked~label .hamburguer {
    transform: rotate(45deg);
}

.header input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.header input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.header .inicial:hover a {
    color: rgb(21, 0, 255);
}


.header li:hover a {
    color: #ddd2d2;
    background-color: rgb(8, 23, 237);
    transition: 0.2s;
    font-family: primeira;

}

a {
    list-style: none;

    all: unset;

}

.infor-menu-dk {
    display: block;
    height: 200px;
    font-size: 17px;
}

.infor-menu-dk p {
    border-bottom: 1px saddlebrown solid;
    margin-left: 20px;
}


@media (max-width: 600px) {

    .header li a {
        display: block;
        list-style: none;
        width: 250px;
        height: 50px;
        margin-bottom: 30px;
        color: #000;
        border-radius: 10px;
        border: 1px solid rgb(248, 244, 244);
        text-align: center;
        background-color: rgba(12, 148, 233, 0.308);
    }


    .header li {
        border-radius: 30%;
        justify-items: center;
        margin: 10px;
    }

    .cards {
        margin-top: 130px;
    }


    .inicial {
        position: absolute;
        top: 0;
        width: 100vh;
        text-align: left;
    }

    .header {
        background-color: hsl(0, 0%, 100%);
        position: fixed;
        top: 0;
        height: 138px;
        width: 100vh;
        border-bottom: 2px double black;

    }

    .header input:checked~ul {
        display: block;
        text-align: center;
        background: url(../../refrigera.jpg) no-repeat;
        background-size: 380px;
        margin-top: 50px;
        padding-left: 50px;
        font-family: primeira;
        height: 500px;
        width: 100%;
    }


    .infor-menu {
        font-size: 11px;
        text-align: left;
        display: block;
        padding: 0;
        padding: 0;
        color: #f7f7f7;
        background-color: #f7f7f70f;
    }


    .header .menu {
        display: block;
    }

    .header nav ul {
        display: none;
        list-style: none;
    }

    .header nav ul li {
        font-size: 30px;
        border-radius: 10px;
        justify-content: end;
        align-items: end;
        text-align: end;
        justify-items: left;
    }

    .area-central {
        text-align: center;
    }

    #input,
    button {
        position: relative;
        display: none;
        padding: 0;
        top: 3%;
        left: 0;
    }

    button {
        position: absolute;

    }

    .infor-menu { 
        font-size: 16px;
        text-align: left;
        padding: 0;
        padding: 0;
        color: #f7f2f2;
        background-color: #1010107b;
    }

    .header .inicial {
        width: 90px;
        left: 10%;
        color: #0077ff;
    }

    figure {
        display: flex;
        width: 300px;
        height: 0;
        font-size: 25px;
        align-items: center;
        padding: 30px 0 0 0;
        margin: 30px 0 0 0;
        font-family: primeira;

    }

    figure img {
        height: 140px;
        padding: 20px 0 30px 0;
        padding-right: 8px;
    }

    figcaption {
        display: block;
        border-left: 2px solid #0077ff;
        padding-left: 9px;


    }

    .area-central {
        text-align: center;
        background-color: rgba(249, 251, 252, 0.406);
        margin-top: 0px;
        padding-top: 0;
    }

    .whatsapp-btn {
        position: fixed;
        top: 4%;
        height: 80px;
        right: 3%;
        text-align: center;
        font-family: primeira;
font-size: 10px;
        animation: movimento 5s infinite;
    }

    @keyframes movimento {
        0% {
            transform: translatey();
        }

        50% {
            background-color: #14f3574f;
            animation: 0.1s ease-in-out;
            border: 2px double rgb(6, 238, 196);
            border-radius: 20px;
            transform: translatey(10px);
            font-size: 18px;
        }

        100% {
            transform: matrix3d(10px);

        }
    }


}